<div class="bg-slate-950">
    <div class="container mx-auto px-2 md:px-16 py-16">
        <div class="text-slate-100 font-bold text-6xl px-16 text-center">
            All Features
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mx-auto pt-16">
            <div class="bg-slate-800 rounded-2xl px-4 py-10 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="max-w-36 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_templates.png">
                </div>
                <!-- Infinite Spacer -->
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-12">Podcast Templates for Easy Use</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Add related show information to your episode with one click. Create a template from an RSS link
                </p>
            </div>

            <div class="bg-slate-800 rounded-2xl px-4 py-10 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="max-w-36 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_show_notes.png">
                </div>
                <!-- Infinite Spacer -->
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-12">Show Notes Templates</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Sponsor, social, and general information in show notes should always be added later
                </p>
            </div>

            <div class="bg-slate-800 rounded-2xl px-4 py-10 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="max-w-36 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_publish_status.png">
                </div>
                <!-- Infinite Spacer -->
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-12">Episode Publishing Status</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Always be sure to include details in your show
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mx-auto pt-10">
            <div class="bg-slate-800 rounded-2xl flex px-4 flex-col gap-2">
                <div class="flex items-center">
                    <div>
                        <img class="object-scale-down max-h-72"
                            src="{{ site.baseurl | relative_url }}/images/all_features_player.png">
                    </div>
                    <div>
                        <div class="pl-8">
                            <h3 class="font-bold text-2xl text-slate-50 text-left">Integrated Audio Player</h3>
                            <p class="text-slate-100 opacity-70 text-lg text-left">
                                Listen to your episode one more time and set up the chapters as accurately as possible
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-slate-800 rounded-2xl px-4 py-4 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_link_preview.png">
                </div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-4">Link Preview</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Check that the link is working, and ensure all setup is done the right way.
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mx-auto pt-10">
            <div class="bg-slate-800 rounded-2xl px-4 py-10 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="max-w-36 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_organizer.png">
                </div>
                <!-- Infinite Spacer -->
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-12">Simple Episode File Organizer</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Open with a template directly from the organizer, check the status, and control publishing from here.
                </p>
            </div>

            <div class="bg-slate-800 rounded-2xl px-4 py-10 col-span-2 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_chapters_and_levels.png">
                </div>
                <!-- Infinite Spacer -->
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-12">Visual Preview for Chapters and Audio Levels</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    One final review of audio levels and chapter setup will help identify misleading issues in the audio setup.
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mx-auto pt-10">
            <!-- Playback Buttons -->
            <div class="bg-slate-800 rounded-2xl px-4 py-6 flex flex-col gap-2">
                <div class="grid place-items-center">
                    <img class="max-w-72 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_playback_buttons.png">
                </div>
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-1">Customizable Playback Buttons</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Take control of the playback buttons to adjust playback as precisely as you need.
                </p>
            </div>
            <!-- Native Experience -->
            <div class="bg-slate-800 rounded-2xl px-4 pb-6 pt-10 flex flex-col gap-2">
                <div>
                    <img class="max-w-16 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_native.png">
                </div>
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-1">Native Experience</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    Designed with usability in mind and native Mac performance.
                </p>
            </div>
            <!-- Dark Mode -->
            <div class="bg-slate-800 rounded-2xl px-4 pb-6 pt-10 flex flex-col gap-2">
                <div>
                    <img class="max-w-12 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_dark_mode.png">
                </div>
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-1">Dark Mode</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    You finally don't have to burn your eyes out if you want to publish new episode in the night.
                </p>
            </div>
            <!-- More in Future -->
            <div class="bg-slate-800 rounded-2xl px-4 pb-6 pt-10 flex flex-col gap-2">
                <div>
                    <img class="max-w-8 object-scale-down"
                        src="{{ site.baseurl | relative_url }}/images/all_features_more.png">
                </div>
                <div class="flex-1"></div>
                <h3 class="font-bold text-2xl text-slate-50 text-left pt-1">More to be announced</h3>
                <p class="text-slate-100 opacity-70 text-lg text-left">
                    We have a lot of fun plans for this app that we'd like to keep a secret, just a bit longer…
                </p>
            </div>
        </div>
    </div>
</div>