<div class="container mx-auto px-2">
    <div class="flex justify-center text-center">
        <div>
            <button class="bg-sky-700 hover:bg-sky-800 rounded-full"
                onclick="location.href='https://9af8e8f3.sibforms.com/serve/MUIFAKr5em9qKXDH3qLLAbvgl6gR1A4ybQ798LyIYzr9aii6RKNtxFJSBb9535e5dYg8Bm9OEStD9FsY7LuAMcYHnxyHVu0vJuTdl-X03NKRz5DkQT2LVl1klMJLKugEXJN7x1Zb3qQ7uSiNalOM8AUH4h3pypYFmouek534K3_jRWdFiYhX8Hl3kYo92W3EKyrFvFFLxGmK6Z1V'"
                type="button">
                <div class="text-lg font-semibold mx-8 my-3 text-white">Join the waiting list</div>
            </button>

            <div class="text-sm font-semibold text-text-accent mt-8">
                {% if site.facebook_username %}
                <a href="https://facebook.com/{{ site.facebook_username }}">
                    Facebook
                </a>
                {% endif %}

                {% if site.facebook_username and (site.twitter_username or site.mastodon_link or
                site.instagram_username or
                site.linkedin_username or
                site.github_username) %}
                |
                {% endif %}

                {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    X (Twitter)
                </a>
                {% endif %}

                {% if site.twitter_username and (site.mastodon_link or site.instagram_username or
                site.linkedin_username or
                site.github_username) %}
                |
                {% endif %}

                {% if site.mastodon_link %}
                <a href="https://{{ site.mastodon_link }}">
                    Mastadon
                </a>
                {% endif %}

                {% if site.mastodon_link and (site.instagram_username or site.linkedin_username or
                site.github_username) %}
                |
                {% endif %}

                {% if site.instagram_username %}
                <a href="https://instagram.com/{{ site.instagram_username }}">
                    Instagram
                </a>
                {% endif %}

                {% if site.instagram_username and (site.github_username or site.linkedin_username) %}
                |
                {% endif %}

                {% if site.linkedin_username %}
                <a href="https://www.linkedin.com/company/{{ site.linkedin_username }}">
                    LinkedIn
                </a>
                {% endif %}

                {% if site.linkedin_username and (site.github_username) %}
                |
                {% endif %}

                {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}">
                    GitHub
                </a>
                {% endif %}
            </div>

            <div class="text-balance text-text-subelement pt-16">
                Launching in early 2025
            </div>
        </div>
    </div>
</div>