<div class="md:flex justify-center">
    <div class="grid place-items-center text-center p-2">
        <a href="https://apps.apple.com/app/id6741365157" target="_blank" id="app_store_button" rel="noopener noreferrer"
            class="inline-block text-center">
            <img class="max-w-3xs object-scale-down" src="{{ site.baseurl | relative_url }}/images/download_button.png">
        </a>
    </div>

    <div class="grid place-items-center text-center p-2">
        <a href="https://www.producthunt.com/posts/headroom-podcasting-toolkit?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-headroom&#0045;podcasting&#0045;toolkit"
            target="_blank"><img
                src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=958272&theme=light&t=1746359812468"
                alt="Headroom&#0058;&#0032;Podcasting&#0032;Toolkit - AI&#0045;powered&#0032;macOS&#0032;app&#0032;to&#0032;prep&#0032;&#0038;&#0032;publish&#0032;podcasts&#0032;seamlessly | Product Hunt"
                style="width: 250px; height: 54px;" width="250" height="54" />
        </a>
    </div>
</div>