<div class="container mx-auto px-2 md:px-16 md:pt-7">
    <div class="md:flex justify-between items-end">
        <div class="text-4xl font-bold text-text-primary">
            Scripting
        </div>
        <div>
            <img class="object-scale-down md:max-w-3xl pt-5 md:pt-0" src="{{ site.baseurl | relative_url }}/images/script_preview_image.png">
        </div>
    </div>

    <div class="text-lg text-text-secondary md:max-w-lg pt-6">
        Be ready for recording.Preparation is a crucial part of the show. Sometimes you only need notes, while other times you may require a full script of what you'll read during the recording, or perhaps a combination of both
    </div>
</div>