<div class="container mx-auto text-center space-y-24">
    <div class="flex justify-center">
        <div class="space-y-8">
            <div class="text-5xl font-bold">
                All in One solution<br>for podcasts creation
            </div>

            <div class="text-lg md:max-w-4xl px-2">
                Explore Headroom, an all-in-one macOS app for preparing, producing, and publishing your podcast. Here's
                a
                glimpse into the app's intuitive design and powerful features that streamline your podcasting journey
                from
                start to finish.
            </div>
        </div>
    </div>


    <div class="md:flex justify-center items-center">
        <div class="md:flex md:space-x-7 space-y-7 md:space-y-0">
            <div class="flex justify-center space-x-7">
                <div class="space-y-3">
                    <div class="bg-slate-100 w-24 h-16 rounded-lg flex items-center justify-center">
                        <img class="object-scale-down w-9"
                            src="{{ site.baseurl | relative_url }}/images/icon_script.png">
                    </div>
                    <div class="text-base font-semibold">
                        Scripting
                    </div>
                </div>

                <div class="space-y-3">
                    <div class="bg-slate-100 w-24 h-16 rounded-lg flex items-center justify-center">
                        <img class="object-scale-down w-9"
                            src="{{ site.baseurl | relative_url }}/images/icon_recording.png">
                    </div>
                    <div class="text-base font-semibold">
                        Recording
                    </div>
                </div>

                <div class="space-y-3">
                    <div class="bg-slate-100 w-24 h-16 rounded-lg flex items-center justify-center">
                        <img class="object-scale-down w-9"
                            src="{{ site.baseurl | relative_url }}/images/icon_editing.png">
                    </div>
                    <div class="text-base font-semibold">
                        Editing
                    </div>
                </div>
            </div>

            <div class="flex justify-center space-x-7">
                <div class="space-y-3">
                    <div class="bg-slate-100 w-24 h-16 rounded-lg flex items-center justify-center">
                        <img class="object-scale-down w-9"
                            src="{{ site.baseurl | relative_url }}/images/icon_podcast.png">
                    </div>
                    <div class="text-base font-semibold">
                        Podcast
                    </div>
                </div>

                <div class="space-y-3">
                    <div class="bg-slate-100 w-24 h-16 rounded-lg flex items-center justify-center">
                        <img class="object-scale-down w-9"
                            src="{{ site.baseurl | relative_url }}/images/icon_transcription.png">
                    </div>
                    <div class="text-base font-semibold">
                        Transcription
                    </div>
                </div>

                <div class="space-y-3">
                    <div class="bg-slate-100 w-24 h-16 rounded-lg flex items-center justify-center">
                        <img class="object-scale-down w-9"
                            src="{{ site.baseurl | relative_url }}/images/icon_publishing.png">
                    </div>
                    <div class="text-base font-semibold">
                        Publishing
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>