<div class="bg-slate-100">
    <div class="container mx-auto px-2 md:px-16 py-16 space-y-8 md:space-y-16">
        <div class="md:flex items-start md:space-x-12">
            <div class="text-4xl font-bold text-text-primary">
                Podcast<br>Management
            </div>

            <div class="text-lg text-text-secondary md:max-w-md pt-8 md:pt-0">
                Podcasters often face routine tasks with each episode, such as filling in metadata, marking chapters, and writing show notes. Headroom automates many of these tasks, saving you time and effort.
            </div>
        </div>

        <div class="flex justify-center">
            <img class="object-scale-down md:max-w-xl pt-5 md:pt-0" src="{{ site.baseurl | relative_url }}/images/podcast_preview_image.png">
        </div>
    </div>
</div>