<div class="container mx-auto px-2 md:px-16 md:pt-7">
    <div class="md:flex items-center md:space-x-10">
        <div class="text-4xl font-bold text-text-primary">
            Recording
        </div>
        <div>
            <div class="text-lg text-text-secondary md:max-w-lg pt-4 md:pt-0">
                Start record with your own marks from script.<br>Telepromt will also help to make recording smoother    
            </div>
            <div>
                <img class="object-scale-down md:max-w-72 pt-5" src="{{ site.baseurl | relative_url }}/images/recording_preview_image.png">
            </div>
        </div>
    </div>
</div>