<footer class="space-y-4 py-4 text-center items-center mx-auto mt-12">
	Created with ❤️ in Estonia {% if site.your_link %} by <a class="text-dark-accent" href="{{ site.your_link }}">Chipp Studio</a>{% endif %}
	
	<div class="text-sm font-semibold">
		{% if site.facebook_username %}
		<a href="https://facebook.com/{{ site.facebook_username }}">
			Facebook |
		</a>
		{% endif %}

		{% if site.facebook_username and (site.twitter_username or site.mastodon_link or site.instagram_username or
		site.github_username or site.email_address) %}
		|
		{% endif %}

		{% if site.twitter_username %}
		<a href="https://twitter.com/{{ site.twitter_username }}">
			X (Twitter)
		</a>
		{% endif %}

		{% if site.twitter_username and (site.mastodon_link or site.instagram_username or site.github_username or
		site.email_address) %}
		|
		{% endif %}

		{% if site.mastodon_link %}
		<a href="https://{{ site.mastodon_link }}">
			Mastadon
		</a>
		{% endif %}

		{% if site.mastodon_link and (site.instagram_username or site.github_username or site.email_address) %}
		|
		{% endif %}

		{% if site.instagram_username %}
		<a href="https://instagram.com/{{ site.instagram_username }}">
			Instagram
		</a>
		{% endif %}

		{% if site.instagram_username and (site.github_username or site.email_address) %}
		|
		{% endif %}

		{% if site.github_username %}
		<a href="https://github.com/{{ site.github_username }}">
			GitHub
		</a>
		{% endif %}

		{% if site.github_username and site.email_address %}
		|
		{% endif %}

		{% if site.email_address %}
		<a href="mailto:{{ site.email_address }}">
			Write email
		</a>
		{% endif %}

	</div>

	<div class="space-x-4">
		{% for page in site.pages %}
		<a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a>
		{% endfor %}
		{% if site.presskit_download_link %}
		<a href="{{ site.presskit_download_link }}">Press Kit</a>
		{% endif %}
	</div>
</footer>