<div class="bg-slate-100 rounded-lg mt-8">
    <div class="py-6 px-4">
        <div class="grid justify-items-center md:flex md:justify-between items-center mt-auto">
            <div class="pb-6 md:pb-0 text-center md:text-left">
                <div class="text-2xl text-semibold">Coming this Fall</div>
                <div class="text-sm">Headroom will be available for download very soon.<br> Join the newsletter to be notified first</div>
            </div>
            <button class="bg-sky-700 hover:bg-sky-800 rounded-full"
                onclick="location.href='https://9af8e8f3.sibforms.com/serve/MUIFAEzMH6uJyxFy6BVu6oJTPzcjLgQrwNUS-zSiZyzgGZSyQxmYGE6vc6ATOZHRLbRH6v7ZnyA--qRzrHpuuM2H-6LuwAQglhTARgOJme_CuYgcysLLrdJVOX7j9WBtAA0jL3eaRxfAp57MTINmzlhOiMBAN7QDZlVqqieiViJO-HSUGid65mfniuBJlKbsAAdUBJty37x-E5ye'"
                type="button">
                <div class="text-lg font-semibold mx-8 my-3 text-white">Join the waiting list</div>
            </button>
        </div>
    </div>
</div>