<div class="container mx-auto text-center px-2 md:px-16 py-16">
    <div class="text-slate-800 font-bold text-4xl">
        Seamless Export & One-Click<br>Publishing
    </div>
    <div class="text-slate-500 text-lg font-medium pt-6 text-center">
        Headroom simplifies publishing by exporting episodes with metadata in one click.<br>Save audio with embedded ID3
        tags, titles, and descriptions.<br>Store files locally or upload directly to your host.<br>Headroom ensures proper
        formatting and streamlines your workflow, saving you time.
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto pt-16">
        <!-- Convert audio card -->
        <div class="bg-slate-50 border border-slate-300 rounded-lg px-6 pb-6 flex flex-col gap-2">
            <div class="grid place-items-center">
                <img class="max-w-32 object-scale-down" src="{{ site.baseurl | relative_url }}/images/publishing_convert_icon.png">
            </div>
            <h3 class="font-bold text-2xl text-slate-900 text-left">Convert audio into main formats</h3>
            <p class="text-slate-600 text-lg text-left">
                Headroom allows you to convert audio into major audio formats such as MP3 and MP4. Use Headroom as an audio conversion tool if needed.
            </p>
        </div>
    
        <!-- Include timecode card -->
        <div class="bg-slate-50 border border-slate-300 rounded-lg p-6 flex flex-col gap-2">
            <div class="flex items-center">
                <h3 class="font-bold text-2xl text-slate-900 text-left">Include timecode in<br>show notes</h3>
                <img class="max-w-64 object-scale-down" src="{{ site.baseurl | relative_url }}/images/publishing_timecode_icon.png">
            </div>
            <p class="text-slate-600 text-lg text-left">
                Based on the chapters, Headroom can automatically add time codes into the show notes during export.
            </p>
        </div>
    
        <!-- List episode card -->
        <div class="bg-slate-50 border border-slate-300 rounded-lg p-6 flex flex-col gap-2">
            <div class="flex items-center">
                <img class="max-w-20 object-scale-down" src="{{ site.baseurl | relative_url }}/images/publishing_numbers_icon.png">
                <h3 class="font-bold text-2xl text-slate-900 text-left pl-4">List episode and season<br>numbers</h3>
            </div>
            <p class="text-slate-600 text-lg text-left pt-4">
                Never miss the episode number again. Headroom will help you find the right number based on the RSS feed of your podcast.
            </p>
        </div>
    
        <!-- Provide transcription card -->
        <div class="bg-slate-50 border border-slate-300 rounded-lg p-6 flex flex-col gap-2">
            <div class="flex items-center">
                <img class="max-w-20 object-scale-down" src="{{ site.baseurl | relative_url }}/images/publishing_transcript_icon.png">
                <h3 class="font-bold text-2xl text-slate-900 text-left pl-4">Provide transcription in<br>ready-to-use formats</h3>
            </div>
            <p class="text-slate-600 text-lg text-left pt-4">
                Export transcripts that any platform and software can easily read, such as Apple Podcasts.
            </p>
        </div>
    </div>

    <div class="flex justify-center items-center">
        <img class="object-scale-down" src="{{ site.baseurl | relative_url }}/images/macbook_placeholder.png">
    </div>
</div>