<!doctype html>
<html>

{% include head.html %}
{% include navbar.html %}

<body class="min-h-screen flex flex-col">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5Q3265X" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="grow">
    {% include header.html %}
    {% include assistant.html %}
    {% include publishing.html %}
    {% include all_features.html %}
    <div class="container mx-auto px-2 md:px-16 py-16">
      <div class="flex justify-center items-center">
          <img class="object-scale-down" src="{{ site.baseurl | relative_url }}/images/final_screenshot.png">
      </div>
    </div>
    {% include social.html %}
  </div>
  {% include footer.html %}
</body>

</html>