<!doctype html>
<html>

{% include head.html %}
{% include navbar.html %}

<body class="min-h-screen flex flex-col">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5Q3265X" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="grow">
    {% include header.html %}
    {% include assistant.html %}

    <div class="pt-24 pb-24 space-y-24">
      {% include details_overview.html %}
      <div class="pt-16 space-y-24">
        {% include details_script.html %}
        {% include details_recording.html %}
        {% include details_editing.html %}
        {% include details_transcription.html %}
        {% include details_podcast.html %}
        {% include details_publishing.html %}
        {% include call_to_action_block.html %}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>